<!DOCTYPE html>
<html>
    <head>
        <title>React ML Test Backend REST API</title>
    </head>
    <body>
        <h1>React ML Test Backend REST API</h1>
        <h2>Object Detector</h2>
        <p>This is an object detector where an image resource specifies the input image and querying the object detector resource gives a visualized object detection prediction. </p>
        <h3>object-detector</h3>
        <p>Object detector resource</p>
        <h3>object-detector/image</h3>
        <p>Image resource</p>
    </body>
</html>
